@import "https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700";

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.Modal {
  height: 400px;
  width: 300px;
  background: #fff;
  box-shadow: 0 10px 20px -10px rgba(25, 25, 43, 0.25);
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -200px;
  flex-direction: column;
  top: 150%;
  transition: top 0.63s ease-in-out, opacity 0.63s ease-in-out,
    transform 0.315s ease-in-out 0.315s;
  opacity: 0;
  transform: scale(2);
  overflow: hidden;
}
.Modal[data-status="true"] {
  top: 50%;
  opacity: 1;
  transform: scale(1);
}
.Modal h1 {
  font-size: 40px;
  margin-bottom: 0.4em;
  color: #ef3054;
}
.Modal h2 {
  font-size: 18px;
  line-height: 1.2;
  opacity: 0.75;
  text-align: center;
}
.Modal button {
  margin-top: auto;
  background: #19192b;
  color: #fff;
  border: 0;
  outline: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-family: "Titillium Web";
  font-size: 18px;
  transform: scale(0.99);
  text-transform: uppercase;
  transition: transform 0.125s ease;
}
.Modal button:hover {
  transform: scale(1);
  background: #3f3f6c;
  cursor: pointer;
}
.Modal button:active {
  transform: scale(0.97);
  background: #ef3054;
}
.Button {
  background: #3f3f6c;
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.95);
  margin: auto;
  margin-top: 50px;
  cursor: pointer;
}
.Button .fa {
  pointer-events: none;
}
.Button:hover {
  background: #51518c;
  transform: scale(1);
  cursor: pointer;
}
.Button:active {
  background: #ef3054;
  transform: scale(0.9);
}

#orderPicker {
  --orderPickerSize: 250px;
  width: var(--orderPickerSize);
  height: var(--orderPickerSize);
  margin: auto;
  margin-top: 60px;
  position: relative;
  border-radius: 50%;
  box-shadow: inset 0 0 10px 0 hsl(210, 25%, 60%);
  background-color: #99e1d9;
}
#orderPicker::before {
  width: 120%;
  height: 120%;
  background-image: linear-gradient(45deg, #f0f7f4 30%, #99e1d9);
  content: "";
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  left: -10%;
  top: -10%;
}

#orderPickerOptionsWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

#orderPickerArrowWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  margin-left: -15px;
  margin-top: -15px;
}

#orderPickerOptionsWrapper,
#orderOptionSelectedName {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#orderPickerOptionsWrapper > img {
  width: 75px;
  position: absolute;
  transition: width 0.5s cubic-bezier(0.8, -0.5, 0.2, 1.4);
}
/* individual image placement is done inline, so see the HTML for that */

#orderPickerArrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #3c918f;
  transform: translateX(calc(var(--orderPickerSize) / 2 - 20px));
  cursor: pointer;
}

#orderOptionSelectedName {
  width: 200px;
  height: 35px;
  margin: auto;
  font-size: 18pt;
  box-shadow: inset 0 0 5px 0 hsl(210, 25%, 60%);
  background-color: beige;
  border-radius: 5px;
}

h1,
#orderOptionSelectedName {
  text-align: center;
}

h1 {
  color: #19192b;
  text-shadow: 1px 1px 0 #000;
}

body {
  font-family: "Titillium Web";
  background: linear-gradient(45deg, #99e1d9 50%, #f0f7f4 50%);
  height: 100vh;
}

#credit {
  text-align: center;
  font-size: 14pt;
  color: #f0f7f4;
  text-shadow: 1px 1px beige;
  margin-top: 100px;
  width: 100%;
}

/* @media (max-width: 420px) {
  h1,
  #credit {
    display: none;
  }
} */

.img-top {
  width: 90px;
  top: 20px;
  left: calc(50% - 40px);
}

.img-right {
  right: 20px;
  top: calc(50% - 40px);
}

.img-bottom {
  bottom: 20px;
  left: calc(50% - 40px);
}

.img-left {
  left: 20px;
  top: calc(50% - 40px);
}
